* {
  box-sizing: border-box;
}


body{
	margin: 0;
	padding: 0;
	background:  #28527a;
}




.container{
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;


}




.container-content{
	
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	border: 4px #000000 solid;
	background:  #feffde;
	border-radius: 10px;



}

.header{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	font-family: sans-serif;
	font-weight: 400;
	background:  #feffde;
	border-bottom: 3px solid #000;


}
.links-buttons{
	
	margin: 20px 0px;
	width: 80%;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
 	
}



button{
	width: 150px;
	height: 60px;
	margin: 20px;
	border:  solid 3px #2978b5;
	border-radius: 10px;
	
	background: #fff;

}

button:hover{
	background: #2978b5;
	color: #fff;
	border: none;
}

a{
	
	text-decoration: none;
	
	font-size: 20px;
	font-family: sans-serif;
	color: #000;
	
	
}

a:hover{

	color: #fff;

}
.author{
	margin-right: 15px;
}

h2{
	
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;

}


h1{


	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	
}


p{
	font-size: 20px;
	font-family: serif;
	text-align: justify;
	font-weight: 100;
	

}

.content-modal-btn{

	display: flex;
	justify-content: center;
}

.modal-btn{

	width: 300px;
	text-align: center;
	font-size: 20px;


}


.table-product-vision{
	display: flex;
	border: 2px solid #000;
	padding: 15px;
	width: 100%;
}


.Paragraphs{
	display: flex;
	justify-content: space-around;
	
	border: 2px solid #000;
	width: 100%;
}

.Paragraphs-p{

	margin: 0px 20px;
	margin-bottom: 10px;
	height: 400px;
	text-align: justify;
	width: 260px;
	
}

.Methodology{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-content{
	border-right: 3px solid #000;
	
	

}

h4{


	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	
}

.cards-functionalities{
	display: flex;
	flex-wrap: wrap;
}

.paragraph-card{
	background: #1597bb;
	margin: 20px 0px;
	padding: 10px;
	border: 2px solid #000;
}

.paragraph-contet-card{

	color: #fff;
}

.pages-card{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-wireframes{
	margin: 20px 0px;
}

.links:hover{
	font-weight: 900;
	color: #000;

}